@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --monkey-error: #ca4754;
    --monkey-error-bg: #ca4754;
    --monkey-main: #e2b714;
    --monkey-sub: #646669;
    --monkey-bg: #323437;
    --monkey-text: #d1d0c5;

    --default-error: #ca4754;
    --default-error-bg: #eeaaaa;
    --default-main: #e2b714;
    --default-sub: #ffffff;
    --default-bg: #444444;
    --default-text: #2fffee;
}

.color-error {
    color: var(--default-error);
}
.color-error-bg {
    color: var(--default-error-bg);
}
.color-main {
    color: var(--default-main);
}
.color-sub {
    color: var(--default-sub);
}
.color-bg {
    color: var(--default-bg);
}
.color-text {
    color: var(--default-text);
}

.color-error {
    color: var(--default-error);
}
.color-error-bg {
    color: var(--default-error-bg);
}
.color-main {
    color: var(--default-main);
}
.color-sub {
    color: var(--default-sub);
}
.color-bg {
    color: var(--default-bg);
}
.color-text {
    color: var(--default-text);
}


.hover\:color-error:hover {
    color: var(--default-error);
}
.hover\:color-error-bg:hover {
    color: var(--default-error-bg);
}
.hover\:color-main:hover {
    color: var(--default-main);
}
.hover\:color-sub:hover {
    color: var(--default-sub);
}
.hover\:color-bg:hover {
    color: var(--default-bg);
}
.hover\:color-text:hover {
    color: var(--default-text);
}

.bg-error {
    background-color: var(--default-error);
}
.bg-error-bg {
    background-color: var(--default-error-bg);
}
.bg-main {
    background-color: var(--default-main);
}
.bg-sub {
    background-color: var(--default-sub);
}
.bg-bg {
    background-color: var(--default-bg);
}
.bg-text {
    background-color: var(--default-text);
}


.hover\:bg-error:hover {
    background-color: var(--default-error);
}
.hover\:bg-error-bg:hover {
    background-color: var(--default-error-bg);
}
.hover\:bg-main:hover {
    background-color: var(--default-main);
}
.hover\:bg-sub:hover {
    background-color: var(--default-sub);
}
.hover\:bg-bg:hover {
    background-color: var(--default-bg);
}
.hover\:bg-text:hover {
    background-color: var(--default-text);
}

.pointer {
    cursor: pointer;
}body {
    background-color: var(--default-bg);
    color: var(--default-sub);
    padding: 20px;
    box-sizing: border-box;
}

.letter {
    position: relative;
}

.cursor {
    position: relative;
}

.cursor::before {
    content: '';
    display: block;
    position: absolute;
    width: 3px;
    height: 100%;
    background-color: var(--default-main);
    animation: blink 1s linear infinite;
    top: 0;
    left: -2px;
}

#user-input {
    position: fixed;
    top: -100px;
}
.color-main {
    color: var(--default-main);
}

.text-display {
    width: 700px;
    max-width: 100%;
    text-align: center;
}

.button {
    display: flex;
    padding: 10px 20px;
    justify-content: space-between;
    align-items: center;
    border: 1px solid var(--default-text);
    background: var(--default-bg);
    color: var(--default-text);

}

.header-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.border-0 {
    border: 0;
}


.bg-none {
    background: none;
}
