body {
  background-color: #444444;
  color: white;
  padding: 20px;
  box-sizing: border-box;
}

.letter {
    position: relative;
}
.cursor {
    position: relative;
}
.cursor::before {
    content: "";
    display: block;
    position: absolute;
    width: 3px;
    height: 100%;
    background-color: blue;
    animation: blink 1s linear infinite;
    top: 0;
    left: -2px;
}

#user-input {
    position: fixed;
    top: -100px;
}
